examples/daily-podcast-rankings.json
{
  "name": "Track your podcast's rankings over time with Taddy Podcast API to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        240
      ],
      "id": "53396251-7768-4019-8c26-67d7c9957c5b",
      "name": "Daily at 10am"
    },
    {
      "parameters": {
        "content": "## Track your podcast's rankings daily on Apple Podcasts with Taddy Podcast API to Google Sheets\n\n## Who's it for\nPodcast creators, producers, and marketing teams who want to monitor their podcast's performance on podcast charts over time.\n\n## How it works\nEvery day, this workflow checks the top 200 podcasts on Apple Podcasts charts, you can specify the genre, finds your podcast's position (if ranked), and logs it to a Google Sheet with a timestamp. Track your growth over time and get alerted when you break into new ranking tiers.\n\n## Requirements\n- Taddy API account (sign up at taddy.org)\n- Google Sheets with tracking spreadsheet\n- Self-hosted n8n instance (required for community nodes)\n\n## How to set up\n1. Install the Taddy community node from Settings > Community Nodes\n2. Add your Taddy API credentials\n3. Create a Google Sheet with columns: Date, Genre, Rank, Podcast Name, Total Episodes\n4. Update the Set Fields node with your podcast UUID and genre\n5. Adjust the schedule trigger (default: every day at 10am)\n6. Run once to test\n\n## How to customize\n- Track multiple podcasts by adding loops\n- Monitor multiple genres\n- Add Slack alerts when rank improves or drops significantly\n- Calculate day-over-day change with a formula node\n- Export weekly or monthly reports",
        "height": 768,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -464,
        -896
      ],
      "typeVersion": 1,
      "id": "5d8f23cb-674b-405b-9ead-e2fe05b4e3b1",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getDailyTopCharts",
        "numResults": 200
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        -240,
        240
      ],
      "id": "78902b08-bdae-48d2-bb94-0dfe621edf15",
      "name": "Get Daily Top 200 on Apple Podcasts",
      "credentials": {
        "taddyPodcastApi": {
          "id": "VdezWNeTJukANs8W",
          "name": "Taddy Podcast account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60c9c765-3ec2-455a-b8ab-753d9b906ac3",
              "name": "myPodcast",
              "value": "d682a935-ad2d-46ee-a0ac-139198b83bcc",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -32,
        240
      ],
      "id": "af2862a3-a371-4999-8b05-38be25d7d6af",
      "name": "Filter for your podcast"
    },
    {
      "parameters": {
        "jsCode": "const podcastUUID = $('Filter for your podcast').first().json.myPodcast.trim();\nconst chartResults = $('Get Daily Top 200 on Apple Podcasts').first().json.podcasts;\n\nlet rank = null;\nlet foundPodcast = null;\n\nfor (let i = 0; i < chartResults.length; i++) {\n  if (chartResults[i].uuid.trim() === podcastUUID) {\n    rank = i + 1;\n    foundPodcast = chartResults[i];\n    break;\n  }\n}\n\nreturn [{\n  json: {\n    date: new Date().toISOString().split('T')[0],\n    rank: rank || \"Not in Top Charts\",\n    podcastName: foundPodcast?.name || \"Unknown\",\n    country: $('Get Daily Top 200 on Apple Podcasts').first().json.country,\n    genres: $('Get Daily Top 200 on Apple Podcasts').first().json.genres\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        240
      ],
      "id": "21183b18-13e1-4a47-87c3-7b9f0fb2c550",
      "name": "Find Rank"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        448,
        240
      ],
      "id": "4df7d6e0-5c71-4dd5-8504-183e4949d4b0",
      "name": "Log rank to tracking sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LpUCNksP281w9XXW",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "Appends new row to your tracking sheet\nEach day adds a new data point\nUse Google Sheets charts to visualize trends\nConsider adding conditional formatting for rank changes",
        "height": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        384,
        32
      ],
      "typeVersion": 1,
      "id": "9b5ed0a9-1f26-40f9-a409-c26c124d5533",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Formats the data for Google Sheets:\n- Current date/time\n- Chart position (or \"Not Ranked\")\n- Genre tracked\n- Podcast name\nAdd calculated fields here if needed",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        128,
        32
      ],
      "typeVersion": 1,
      "id": "8ea921ca-fe64-43b8-a995-0f38ed828a55",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 10am": {
      "main": [
        [
          {
            "node": "Get Daily Top 200 on Apple Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Top 200 on Apple Podcasts": {
      "main": [
        [
          {
            "node": "Filter for your podcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for your podcast": {
      "main": [
        [
          {
            "node": "Find Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Rank": {
      "main": [
        [
          {
            "node": "Log rank to tracking sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "cf976bad-e7e8-47fd-8890-abd3a8c282d7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "037ca12a37a65de95240f4fc2d09ef5d889852a9a654d7193831532984f75839"
  },
  "id": "ui4arBzJG0LB8dXS",
  "tags": []
}