examples/daily-podcast-rankings.json
{
  "name": "Monitor Apple Podcasts Charts for one or more podcasts with Taddy Podcast API to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -80,
        864
      ],
      "id": "8cce4b33-cac1-4fa1-a945-ea831939cb27",
      "name": "Daily at 10am"
    },
    {
      "parameters": {
        "content": "## Monitor Apple Podcasts Charts for one or more podcasts with Taddy Podcast API to Google Sheets\n\nThis workflow checks the Top 200 podcasts on Apple Podcasts charts. Each genre and country has its own Top chart, this example checks the Top 200 Business Podcasts. Set your podcast's uuid and track your podcast's position over time, and logs it to a Google Sheet with a timestamp and get alerted when you break into new ranking tiers.\n\n## Requirements\n- Taddy API account (sign up at taddy.org/developers)\n- Google Sheets with tracking spreadsheet\n- Self-hosted n8n instance (required for community nodes)\n\n## How to customize\n- Add Slack alerts when rank improves or drops significantly\n- Calculate day-over-day change with a formula node\n- Export weekly or monthly reports",
        "height": 464,
        "width": 1008
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        16,
        96
      ],
      "typeVersion": 1,
      "id": "d24e9387-1632-49c8-8cee-149310eb3698",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "operation": "getDailyTopCharts",
        "getDailyTopCharts-numResults": 200,
        "chartType": "byGenre",
        "genres": "PODCASTSERIES_BUSINESS"
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        128,
        864
      ],
      "id": "019b3c28-59a9-470c-9ce9-5a643ad99efd",
      "name": "Get Daily Top 200 on Apple Podcasts",
      "credentials": {
        "taddyPodcastApi": {
          "id": "WgCl0l3g1pf1UJQz",
          "name": "Taddy Podcast account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const podcastUuids = $('Filter for one or more podcasts').first().json.podcasts.split(',').map(uuid => uuid.trim());\nconst chartResults = $('Get Daily Top 200 on Apple Podcasts').first().json.podcasts;\nconst chartData = $('Get Daily Top 200 on Apple Podcasts').first().json;\n\nreturn podcastUuids\n  .map(uuid => {\n    const rankIndex = chartResults.findIndex(podcast => podcast.uuid.trim() === uuid);\n    return rankIndex >= 0 ? { uuid, rankIndex, podcast: chartResults[rankIndex] } : null;\n  })\n  .filter(item => item !== null)\n  .map(item => ({\n    json: {\n      date: new Date().toISOString().split('T')[0],\n      rank: item.rankIndex + 1,\n      podcastName: item.podcast.name,\n      podcastUuid: item.uuid,\n      country: chartData.country,\n      genres: chartData.genres\n    }\n  }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        864
      ],
      "id": "ba5f9ec2-99f9-4bc3-a476-932a789c03f5",
      "name": "Find Rank"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "sheetName": {
          "__rl": true,
          "mode": "list",
          "value": ""
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        960,
        864
      ],
      "id": "79eec07e-8275-4b70-80aa-db4e89e6803c",
      "name": "Log rank to tracking sheet"
    },
    {
      "parameters": {
        "content": "Appends new row to your tracking sheet\n",
        "height": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        656
      ],
      "typeVersion": 1,
      "id": "eb040a8e-ac2b-47b9-a693-21a5435a2e00",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Formats the data for Google Sheets:\n\nIf podcast not in charts, this will return empty output.\n",
        "height": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        592,
        656
      ],
      "typeVersion": 1,
      "id": "401ad052-9466-441f-a4fb-77f19a526c21",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "60c9c765-3ec2-455a-b8ab-753d9b906ac3",
              "name": "podcasts",
              "value": "47fd8989-8b5e-4b08-b679-b0645ccf1d08,12178de6-ef3d-41dc-b902-bab8e5b68eaf",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        384,
        864
      ],
      "id": "5a5972ee-fe69-4049-8799-a67cb8cbdcfd",
      "name": "Filter for one or more podcasts"
    },
    {
      "parameters": {
        "content": "Filter for one or more podcasts (comma separated string)",
        "height": 400,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        304,
        656
      ],
      "typeVersion": 1,
      "id": "f2d3df30-0a84-4507-9122-0ef89fb5b171",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily at 10am": {
      "main": [
        [
          {
            "node": "Get Daily Top 200 on Apple Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Daily Top 200 on Apple Podcasts": {
      "main": [
        [
          {
            "node": "Filter for one or more podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Rank": {
      "main": [
        [
          {
            "node": "Log rank to tracking sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter for one or more podcasts": {
      "main": [
        [
          {
            "node": "Find Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7cd379e8-2728-4b9e-bb2e-6b2f36d0d254",
  "meta": {
    "instanceId": "5573683f5e911f04a6e02fa9fc31282ac990fb306ed14a91e7d82ef8946f4fb6"
  },
  "id": "ppndLsbkmDlWEhLS",
  "tags": []
}