examples/import-and-parse-OPML.json
{
  "name": "Import Your Podcast Subscriptions via OPML",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1072,
        -208
      ],
      "id": "7df386f8-2ac6-4db6-88a8-8390defbd5b8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "content": "## Import Your Podcast Subscriptions via OPML\n\n## How It Works\n1. **Export** your podcast subscriptions from your podcast app as an OPML file\n2. **Paste** the OPML file contents into the n8n workflow\n3. **Extract** RSS feed URLs automatically\n\n## How to Export an OPML from your podcast player\n- **Apple Podcasts (iOS/Mac)**: Go to Settings → Export Subscriptions → Share OPML file\n- **Overcast**: Settings → Export OPML → Copy to clipboard\n- **Pocket Casts**: Settings → Import/Export → Export subscriptions\n- **Spotify**: Does not support OPML export, but use a Spotify n8n node to get your Spotify podcast details.\n- Most podcast apps have OPML export in the app's settings screen.\n\n## What's next\n- Use other Taddy Podcast API nodes to get latest episodes or transcripts for any episode (see other workflows from Taddy Podcast API)",
        "height": 480,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        976,
        -976
      ],
      "typeVersion": 1,
      "id": "93d4b255-8a0a-4074-a63a-88c19367ab9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a78d6d26-8d99-43a6-8b07-4ac7195ad34c",
              "name": "OPML",
              "value": "<?xml version='1.0' encoding='UTF-8' standalone='yes' ?> <opml version=\"1.0\">   <head>     <title>Podcast Feeds</title>   </head>   <body>     <outline text=\"feeds\">       <outline type=\"rss\" text=\"The Daily\" xmlUrl=\"https://feeds.simplecast.com/54nAGcIl\" />       <outline type=\"rss\" text=\"The Tim Ferriss Show\" xmlUrl=\"https://rss.art19.com/tim-ferriss-show\" />       <outline type=\"rss\" text=\"Planet Money\" xmlUrl=\"https://feeds.npr.org/510289/podcast.xml\" />       <outline type=\"rss\" text=\"Darknet Diaries\" xmlUrl=\"https://podcast.darknetdiaries.com\" />       <outline type=\"rss\" text=\"StarTalk Radio\" xmlUrl=\"https://feeds.simplecast.com/4T39_jAj\" />     </outline>   </body> </opml>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1344,
        -208
      ],
      "id": "4c6db71a-723b-4ace-b883-3cf825abc13e",
      "name": "Paste OPML Here"
    },
    {
      "parameters": {
        "content": "Extracts RSS feed URLs from your OPML file and formats them for the Taddy Podcast API node.\n\nOutput: Comma-separated list of RSS URLs",
        "height": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1600,
        -416
      ],
      "typeVersion": 1,
      "id": "e197f79b-adb4-4682-a287-3ad00a5158f5",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Paste your entire OPML file contents into this node.\n\nAn OPML File is an XML file format that lists all your podcast subscriptions (name and RSS urls).\n\nCopy everything from <?xml to </opml>",
        "height": 400,
        "width": 256,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1264,
        -416
      ],
      "typeVersion": 1,
      "id": "86568eeb-f9b2-483c-ae9c-ff95f71b4c1c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "const opmlContent = $input.first().json.OPML;\nconst rssPattern = /<outline[^>]*type=\"rss\"[^>]*xmlUrl=\"([^\"]*)\"[^>]*\\/>/g;\n\nreturn [{\n  json: {\n    rssUrls: [...opmlContent.matchAll(rssPattern)].map(match => match[1]).join(',')\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1664,
        -208
      ],
      "id": "ff56bab8-39c5-4850-886e-c9bebf5d57c2",
      "name": "Parse OPML File"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Paste OPML Here",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Paste OPML Here": {
      "main": [
        [
          {
            "node": "Parse OPML File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse OPML File": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c10f2bb2-c424-4d22-a43c-2d20bb4bd215",
  "meta": {
    "instanceId": "5573683f5e911f04a6e02fa9fc31282ac990fb306ed14a91e7d82ef8946f4fb6"
  },
  "id": "EGGXvJhfYvE6iC8z",
  "tags": []
}