examples/Search podcasts by topic on Taddy to Airtable library.json
{
  "name": "Search podcasts by topic on Taddy to Airtable library",
  "nodes": [
    {
      "parameters": {
        "content": "## Search podcasts by topic on Taddy to Airtable library\n\n## Who's it for\nPodcast curators, researchers, and content strategists building searchable libraries of podcasts by topic, genre, or language.\n\n## How it works\nEnter a search keyword, genre, or language filter, and this workflow searches Taddy's database for matching podcasts. It retrieves full metadata including RSS feeds, episode counts, and descriptions, then saves everything to an Airtable base for easy organization and future reference.\n\n## Requirements\n- Taddy API account (free tier includes 2,000 requests/month, sign up at taddy.org)\n- Airtable account with a base set up\n- Self-hosted n8n instance (required for community nodes)\n\n## How to set up\n1. Install the Taddy community node from Settings > Community Nodes\n2. Add your Taddy API credentials\n3. Create an Airtable base with fields: Name (single line text), Description (long text), RSS URL (URL), Genre (single select), Language (single line text), Total Episodes (number)\n4. Configure Airtable credentials in n8n\n5. Update the Set Fields node with your search criteria\n6. Run the workflow\n\n## How to customize\n- Add popularity filters or language restrictions\n- Include latest episodes for each podcast\n- Export to Google Sheets or Notion instead\n- Schedule recurring searches to discover new podcasts\n- Add filtering by episode count or publish frequency",
        "height": 784,
        "width": 1088
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -688
      ],
      "typeVersion": 1,
      "id": "40fc81de-93b1-4c50-9483-a6fa70cbd112",
      "name": "Sticky Note"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -624,
        448
      ],
      "id": "d3f01553-22dc-4d20-b2fb-4689b67466aa",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "searchQuery": "=artificial intelligence",
        "numResults": 10,
        "advancedOptions": {
          "filterForGenres": [
            "PODCASTSERIES_ARTS"
          ],
          "filterForLanguages": [
            "ENGLISH"
          ],
          "sortBy": "POPULARITY"
        }
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        -352,
        448
      ],
      "id": "8945a7fc-51a1-4970-85d1-18fe54bb20df",
      "name": "Search Podcasts",
      "credentials": {
        "taddyPodcastApi": {
          "id": "VdezWNeTJukANs8W",
          "name": "Taddy Podcast account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getPodcastSeries",
        "podcastUuid": "={{ $json.podcastSeries.uuid }}"
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        144,
        448
      ],
      "id": "98d8d51c-643f-4021-a339-5f32997bee23",
      "name": "Podcast Data Extractor (Taddy API)",
      "credentials": {
        "taddyPodcastApi": {
          "id": "VdezWNeTJukANs8W",
          "name": "Taddy Podcast account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "podcastSeries",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -80,
        448
      ],
      "id": "5403e3d8-a059-4898-9c41-7ae69b00684e",
      "name": "Split Out"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "table": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        384,
        448
      ],
      "id": "b3a841b7-d96d-4ed3-b5c3-7b42f05fe1d7",
      "name": "Create a record"
    },
    {
      "parameters": {
        "content": "Optional but recommended - gets full metadata\nAdds: description, episode counts, genres, image URLs\nCan also fetch latest episodes by toggling \"includeEpisodes\"",
        "height": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        272
      ],
      "typeVersion": 1,
      "id": "7f049167-b47d-4aa0-80c3-5084f0d1155f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "Creates new records in your base\nAdd deduplication logic if running multiple times\nTip: Add a \"Date Added\" field to track when discovered\nConsider adding tags for categorization",
        "height": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        320,
        272
      ],
      "typeVersion": 1,
      "id": "cecc2975-e3cb-4fcc-8e57-7c69663e19d5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "Configure search criteria and execute\n\nSet your search filters:\n- keywords: e.g., \"artificial intelligence\", \"true crime\", \"business\"\n- language: ISO codes like \"en\" (English), \"es\" (Spanish), \"fr\" (French)\n- limit: max results to return (default: 25)\n\nSearches Taddy's database of millions of podcasts\nUses pagination automatically if results exceed limit\nReturns basic info: name, UUID, RSS URL\nMore filters available: popularity threshold, country, etc.",
        "height": 480,
        "width": 416,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -512,
        176
      ],
      "typeVersion": 1,
      "id": "1679261f-3130-4e91-b6b6-84317c140e51",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search Podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Podcasts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Podcast Data Extractor (Taddy API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Data Extractor (Taddy API)": {
      "main": [
        [
          {
            "node": "Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}