examples/webhooks-for-new-episodes.json
{
  "name": "Monitor Podcasts for New Episodes with Taddy to Slack",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -448,
        -16
      ],
      "id": "23877a01-0abf-44d1-9f97-4b386bda0b53",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "operation": "getLatestEpisodes",
        "latestEpisodesUuids": "d682a935-ad2d-46ee-a0ac-139198b83bcc, cb8d858a-3ef4-4645-8942-67e55c0927f2, 4e883d98-43d1-4ac7-8de8-4afc13244393",
        "includeTranscript": false
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        -256,
        -16
      ],
      "id": "a040fe91-7222-4e76-b022-5db17940710a",
      "name": "Get Newly Released Episodes",
      "credentials": {
        "taddyPodcastApi": {
          "id": "VdezWNeTJukANs8W",
          "name": "Taddy Podcast account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "episodes",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -48,
        -16
      ],
      "id": "3ba995db-0b33-4ca7-a1da-5c6ca364ca1b",
      "name": "Split Out"
    },
    {
      "parameters": {
        "content": "## Monitor podcasts for new episodes with Taddy to Slack\n\n## Who's it for\nPodcast enthusiasts, content curators, and marketing teams who want to stay updated on new episodes from their favorite podcasts.\n\n## How it works\nThis workflow checks daily for new episodes from a list of podcasts you're monitoring. When a new episode is published, it sends a formatted notification to your Slack channel with the episode title, description, and listen link.\n\n## Requirements\n- Taddy API account (sign up at taddy.org)\n- Slack workspace with incoming webhook or bot token\n- Self-hosted n8n instance (required for community nodes)\n\n## How to set up\n1. Install the Taddy community node from Settings > Community Nodes\n2. Add your Taddy API credentials\n3. Configure your Slack credentials\n4. Update the \"Podcast UUIDs\" in the Set Fields node with your podcasts\n5. Adjust the schedule trigger timing as needed\n\n## How to customize\n- Change notification destination (email, Discord, Teams, etc.)\n- Add filtering by genre or keyword\n- Store episodes in a database for trend analysis",
        "height": 688,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -544,
        -768
      ],
      "typeVersion": 1,
      "id": "f5d17e0f-d798-496b-8c84-a79003fb71c6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e931b3a-64e4-457b-874f-05e33f6952cf",
              "leftValue": "={{ $json.episodes.datePublished }}",
              "rightValue": "={{ $now.minus({ days: 1 }).toSeconds() }}",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        160,
        -16
      ],
      "id": "aa627e1b-bb22-466c-9c57-0b9886a850fe",
      "name": "Only Episodes from the last 24 hrs"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=🎙️ *New Episode Alert!*\n\n*{{ $('Only Episodes from the last 24 hrs').item.json.episodes.name }}*\n_{{ $json.podcast.name }}_\n\n📝 *Description:*\n{{ $('Only Episodes from the last 24 hrs').item.json.episodes.description }}\n\n⏱️ *Duration:* {{ Math.round( $('Only Episodes from the last 24 hrs').item.json.episodes.duration / 60)  }} minutes\n📅 *Published:* {{ DateTime.fromSeconds($('Only Episodes from the last 24 hrs').item.json.episodes.datePublished).toLocaleString(DateTime.DATETIME_MED) }}\n\n🎧 *Listen now:*\n<{{ $('Only Episodes from the last 24 hrs').item.json.episodes.audioUrl  }}|Listen Here>\n\n---\n_Powered by Taddy API_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        576,
        -16
      ],
      "id": "fe9ad473-ce6f-4ebb-9e45-84a73c038b58",
      "name": "Send a message",
      "webhookId": "528a79ff-d448-4035-9f5d-bfdb9df65e2a"
    },
    {
      "parameters": {
        "operation": "getPodcastSeries",
        "podcastUuid": "={{ $json.episodes.podcastSeries.uuid }}"
      },
      "type": "CUSTOM.taddyPodcast",
      "typeVersion": 1,
      "position": [
        368,
        -16
      ],
      "id": "e56545f8-4721-49de-8962-0413a9d6e415",
      "name": "Get Podcast Details",
      "credentials": {
        "taddyPodcastApi": {
          "id": "VdezWNeTJukANs8W",
          "name": "Taddy Podcast account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Newly Released Episodes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Newly Released Episodes": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Only Episodes from the last 24 hrs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Episodes from the last 24 hrs": {
      "main": [
        [
          {
            "node": "Get Podcast Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Podcast Details": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "",
  "tags": []
}