examples/webhooks-for-new-episodes.json
{
  "name": "Monitor for new podcasts or episodes with Taddy Podcast API to Slack",
  "nodes": [
    {
      "parameters": {
        "content": "## Monitor for new podcasts or episodes with Taddy Podcast API to Slack\n\n## Requirements\n- Taddy API Business account (sign up at taddy.org/developers).\n- Self-hosted n8n instance (required for community nodes)\n\n## How it works\nLog into the Taddy Podcast API dashboard. Click the 'Add Webhook' button to set up a webhook. This workflow will run every time it receives a webhook notification from Taddy API. You can receive notifications for new podcast series, updated podcast series, new podcast episodes or updated podcast episodes. It then filters for only the content you care about and posts the details to Slack.\n\n## How to customize\n- Change notification destination (email, Discord, Teams, etc.)\n- Add other filtering by genre or keyword\n- Store episodes in a database for trend analysis",
        "height": 464,
        "width": 928
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1488,
        416
      ],
      "typeVersion": 1,
      "id": "e2ef2359-f1b5-47b5-94af-7211fcfc73b0",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=🎙️ *New Episode Alert!*\n\n*{{ $('Filter podcasts').item.json.episodes.name }}*\n_{{ $json.podcast.name }}_\n\n📝 *Description:*\n{{ $('Filter podcasts').item.json.episodes.description }}\n\n⏱️ *Duration:* {{ Math.round( $('Filter podcasts').item.json.episodes.duration / 60)  }} minutes\n📅 *Published:* {{ DateTime.fromSeconds($('Filter podcasts').item.json.episodes.datePublished).toLocaleString(DateTime.DATETIME_MED) }}\n\n🎧 *Listen now:*\n<{{ $('Filter podcasts').item.json.episodes.audioUrl  }}|Listen Here>\n\n---\n_Powered by Taddy API_",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        -96,
        1056
      ],
      "id": "81024cf2-04f3-4727-9d9d-24b71f6367dd",
      "name": "Send a message",
      "webhookId": "528a79ff-d448-4035-9f5d-bfdb9df65e2a"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92520e96-cb40-4488-add0-989f995d1c14",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -640,
        1056
      ],
      "id": "8c62955b-cbfb-42a1-ab83-544ab619650e",
      "name": "Webhook",
      "webhookId": "92520e96-cb40-4488-add0-989f995d1c14"
    },
    {
      "parameters": {
        "content": "## Testing the webhook (Part 1)\n\nWhen testing / before you active this workflow, n8n will receive webhook notifications on a Test URL. Add this url to Taddy API's Dashboard.\n\nSince this url is localhost (local to your computer). Use a service like ngrok which provides you a public url that is mapped to your localhost. \n\nRun the command: ```ngrok http 5678``` in your terminal to start ngrok.\n\n![Source example](https://ax0.taddy.org/docs/n8n-webhooks-test.png)\n",
        "height": 832,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -480,
        48
      ],
      "typeVersion": 1,
      "id": "a46ca01f-b3f6-4be3-82a6-bcdb8afff7e8",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Activating the workflow (Part 3)\n\nOnce you activate the workflow, the n8n endpoint where you receive webhook notifications changes to the Production URL. Update Taddy API to this new webhook endpoint.\n\n![Source example](https://ax0.taddy.org/docs/n8n-webhooks-prod.png)\n",
        "height": 832,
        "width": 400
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        480,
        48
      ],
      "typeVersion": 1,
      "id": "ea734860-9d6e-4be3-88ee-eb3dfc3316b6",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Testing the webhook (Part 2)\n\nOn Taddy API's dashboard, you can set the n8n endpoint where it sends webhook notifications, as well as specify which webhook events you want to receive.\n \n![Source example](https://ax0.taddy.org/docs/taddy-webhooks-settings.png)\n\nIn n8n, Open the Webhook node and click 'Listen for test event` to test that you have successfully connected n8n to Taddy API Webhooks.",
        "height": 880,
        "width": 384
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1,
      "id": "026908ce-0797-40c3-8a41-ba0047c6dc73",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "1e931b3a-64e4-457b-874f-05e33f6952cf",
              "leftValue": "={{ $json.body.data.name }}",
              "rightValue": "=artificial intelligence",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "f59307bd-e751-4241-a5a4-05b9c79193c5",
              "leftValue": "={{ $json.body.data.description }}",
              "rightValue": "artificial intelligence",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        -368,
        1056
      ],
      "id": "df488c78-06e7-433e-82fe-03829bf6a54e",
      "name": "Filter podcasts"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Filter podcasts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter podcasts": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "217ba276-a40d-465f-a6b6-12807cad08cb",
  "meta": {
    "instanceId": "5573683f5e911f04a6e02fa9fc31282ac990fb306ed14a91e7d82ef8946f4fb6"
  },
  "id": "OxODTRwzUe2ily7J",
  "tags": []
}